{% extends "layout.html" %}
{% block content %}
<article class="media content-section">

    <p>Build a flask application with requirements:
        <br>
        Section 1:
        Accept database connection details -> Server, Username, Password
        Using connection details, fetch the data from Devices table.
        Show the data of the table (Devices) in a simple tabular format under Section 2
        <br>
        Section 2:

        The column names of the displayed table should be clickable.
        Sorting of entire table rows must happen based on the column that is clicked.
    </p>
</article>
{% endblock content %}